{% extends "base.html" %}

{% block title %}
      <title>About Us | The Genius Repository</title>
{% endblock %}

{% block content %}
	<h1 class="mt-3">About Us</h1>

	<h2 style='text-align: center;'>Marcer</h2>

	<p>
		Marcer is the co-administrator of the Genius ORG Hub, the lead maintainer of the Genius ORG Results spreadsheet, and the creator of the Genius Repository.
		He spends way too much of his time on The Genius and its ORG community. Support him at this Ko-fi: <a href="https://ko-fi.com/marcermercer">https://ko-fi.com/marcermercer</a>.
	</p>

	<br>

	<h2 style='text-align: center;'>ItzShaun</h2>

	<p>
		ItzShaun is the main co-maintainer and the lead graphic designer of the Genius Repository. He is also a designer.
	</p>
	
	<br>

	<h2 style='text-align: center;'>Zero</h2>

	<p>
		Zero is the co-administrator of the Genius ORG Hub and a contributing co-maintainer of the Genius Repository. She is responsible for a ridiculous
		amount of game designs in the Genius community.
	</p>

	<br>

	<h2 style='text-align: center;'>RedsToad</h2>
	
	<p>
		RedsToad is a maintainer of the Genius ORG Results spreadsheet and a contributing co-maintainer of the Genius Repository. He hosts way too many ORGs,
		and he likes the color red.
	</p>

	<br>

	<h2 style='text-align: center'>Special Thanks</h2>

	<p style='text-align: center'> e_is_cool, elara, Grunkle Squeaky </p>
{% endblock %}