{% extends "base.html" %}

{% block content %}
	<h1 class="mt-3">Welcome to the Genius Repository!</h1>
	<p>Here, you'll find a collection of all games written by, and for, the Genius ORG community.</p>
	<p>The Genius ORG community is a community surrounding <a href="https://en.wikipedia.org/wiki/The_Genius_(TV_series)">The Genius</a>, a South Korean reality TV show in which 13 contestants compete in different
		board, card, and strategy games to ultimately come out the winner.</p>
	<p>The show has obtained a small cult following, and this repository details games that were designed by community members for
		others to play in "Genius ORGs (online reality games)", which are online games that aim to recreate The Genius for others to participate in.</p>
	<p>The community is currently located on Discord, centrally at the The Genius ORG Hub.</p>

	<hr>

	<p><strong>IMPORTANT: if you wish to use these designs for yourself, please make sure to contact the designer on Discord to receive permission
		and don't forget to give proper credit. A design being on this repository does NOT mean it is free-to-use!</strong></p>

	<hr>
	
	<h4>Currently, the repository contains {{ num_matches }} matches in its archive.</h4>
{% endblock %}