{% extends "base.html" %}

{% block content %}
	<h1 class="mt-3">Welcome to the Genius Repository!</h1>
	<p>Here, you'll find a collection of all Matches written by, and for, the Genius ORG community.</p>
	<p>The Genius ORG community is a community surrounding The Genius, a South Korean reality TV show where 13 contestants compete in different
		games called "Main Matches" and "Death Matches" to ultimately come out the winner.</p>
	<p>The show has obtained a small cult following, and this repository details games that were designed by community members for
		others to play in "Genius ORGs (online reality games)", wherein participants play their own season of The Genius online against others.</p>

	<h4>Currently, the repository contains {{ num_matches }} matches in its archive.</h4>
{% endblock %}