body {
	background-color: rgb(214, 212, 212) !important;
}

.sidebar-nav {
	margin-top: 20px;
	padding: 0;
	list-style: none;
}

.container {
	margin-left: 0!important;
	margin-right: 0!important;
  max-width: 100%;
}

/* we are setting min-width to 800px to render proper table column width on mobile. */
.table {
  vertical-align: middle;
  min-width: 800px;
}

.table-small {
  width: 55%;
}

.icon {
  width: 1.7em;
  height: 1.7em;
  overflow: hidden;
  border-radius: 25%;
}

.icon-lg {
  width: 2.2rem;
  height: 2.2rem;
  overflow: hidden;
  border-radius: 25%;
}

.icon-xl {
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  border-radius: 25%;
  transform: translate(0%, -3%);
}

/* tab font color */
.tab-color {
	color:rgb(0, 0, 0)
}

.tab-color:hover {
	color: rgba(25, 25, 107, 1);
}

/* add spoiler functionality */
.spoiler { 
  color: black; 
  background-color: black;
}

.spoiler:hover {
  color: white;
}

.emoji {
  height: 20px !important;
  width: 20px !important;
  transform: translate(0%, -5%);
}

/* make blockquotes look similar to Discord */
blockquote {
  border-left: 5px solid #8b8b8b;
  padding: 0.2em 7px;
  margin: 0 0 0rem;
}

/* make codeblocks look similar to Discord */
.code-header {
  display: block;
  margin-top: 0.4em;
  margin-bottom: 1em;
  padding: .5em;
  
}

code {
  color: #c9c9c9;
  background-color:rgb(54, 54, 54);
  padding: .1em;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  border-color: rgb(40, 40, 40);
}

/* .ul_hover:hover {
	text-decoration: underline;
} */

/* to not let images in rules just be ridiculously big */
img {
    max-height: 400px !important;
	  max-width: 100% !important;
}

a {
	color: rgba(25, 25, 107, 1);
	text-decoration: none;
}

a:hover {
	/* color: rgba(25, 25, 107, 0.8); */
	text-decoration: underline;
}

/* This needs to be 0rem for blockquote display to properly work (it needs to look connected).
I mean, the margins aren't that important as we're using <br> for a lot of our spacing, so.
Well, I hope nothing broke! */
p, ul, ol {
	margin-bottom: 0rem;
}

h1 {
	font-size: 3rem;
	font-weight: bolder;
	text-align: center;
}

/* to make tag descriptions appear on hover */
.tag:hover + .tag_hide {
  visibility: visible;
  color: #5d5d5d;
  transition: 0.4s;
}

.tag_hide {
  visibility: hidden;
  color: rgb(214, 212, 212);
}

/* manually setting navbar brand logo to look nice */
.navbar-brand {
  display: inline-block;
  padding: 2px 0px 5px 5px;
}

/* we are setting min-width to 612px to render proper table column width on mobile.
doing the same to the navbar so the navbar also extends towards the right */
.navbar {
  min-width: 812px;
}

/* this is all for that navbar animation lol */
@media screen and (min-width: 992px) {
  .navbar {
    padding: 0;
  }
  .navbar .navbar-nav .nav-link {
    padding: 1em 0;
	  text-decoration: none;
  }
  .navbar .navbar-nav .nav-item {
    margin: 0 1em;
  }
}

.navbar .navbar-nav .nav-item {
  position: relative;
}
.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: "";
  background-color: rgb(55, 143, 175);
  width: 0%;
  height: 4px;
  transition: all 0.5s;
}
.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
}