body {
	background-color: rgb(214, 212, 212) !important;
}

.sidebar-nav {
	margin-top: 20px;
	padding: 0;
	list-style: none;
}

.container {
	margin-left: 0!important;
	margin-right: 0!important;
}

/* to not let images in rules just be ridiculously big */
img {
	max-height: 400px !important;
	max-width: 100% !important;
}

a {
	color: rgb(25, 25, 107);
}

p {
	margin-bottom: 0.2rem;
}