{% extends "base.html" %}

{% block content %}
	<h1 class="mt-3">List of The Genius Designers</h1>
	{% if designer_list %}
	<ul>
		{% for designer in sorted_designer_list %}
			{% if designer.match_set.all.count %}
				<li>
					<a href="{{ designer.get_absolute_url }}">{{ designer.name }}</a>
					{% if designer.match_set.all.count != 1%}
					 	({{ designer.match_set.all.count }} Games)
					{% else %}
						({{ designer.match_set.all.count }} Game)
					{% endif %}
				</li>
			{% endif %}
		{% endfor %}
	</ul>
	{% else %}
		<p>Error! No designers found.</p>
	{% endif %}
{% endblock %}