{% extends "base.html" %}
{% load genius_extras %}
{% load static %}

{% block content %}
	<h1 class="mt-3">List of The Genius Designers</h1>
	{% if designer_list %}
		<table class="sortable table table-secondary table-sm table-striped table-bordered table-hover">
			<thead class="table-dark">
				<tr>
					<th width="18%">Name</th>
					<th width="7%"># Games</th>
					<th width="75%">ORGs That Feature Their Games</th>
				</tr>
			</thead>
		{% for designer in sorted_designer_list %}
			{% if designer.match_set.all.count %}
				<tr>
					<td>
						<a href="{{ designer.get_absolute_url }}">{{ designer.name }}</a>
					</td>
					<td>
						{{ designer.match_set.all.count }}
					</td>
					<td>
						{% for org in designer_orgs|lookup:designer.name %}
							{% with filename=org.0|org_name %}
								<a href="{{ org.2 }}"><img src="{% static 'images/icons/'|add:filename|add:'.png' %}" class="icon" alt="{{ org.0 }}" title="{{ org.0 }}"></img></a>
							{% endwith %}
						{% endfor %}
					</td>
				</tr>
			{% endif %}
			{% endfor %}
		</table>
		{% else %}
			<p>Error! No designers found.</p>
	{% endif %}
{% endblock %}