{% extends "base.html" %}
{% load markdownify %}
{% load genius_extras %}

{% block title %}
      <title>{{ match.name }} | The Genius Repository</title>
{% endblock %}

{% block content %}
  <h1 class="mt-3 mb-1">{{ match.name }}</h1>
  <p style="margin-bottom: 0.8rem; text-align: center;">{{ match.summary }}</p>

  <table class="table table-primary table-sm table-striped table-small mx-auto" style="text-align: center; vertical-align: center;">
    <tr style="height: 50px;">
      <td>
        <strong>Designer(s):</strong>
        {% for designer in match.designers.all %}
          {% if forloop.last %}
            <a href="{{ designer.get_absolute_url }}">{{ designer.name }}</a>
          {% else %}
            <a href="{{ designer.get_absolute_url }}">{{ designer.name }}</a>, 
          {% endif %}
        {% endfor %}
      </td>
      <td>
        {% if match.max_players %}
          <strong>Match Type:</strong> {{ match.match_type }} (for {{ match.min_players }}~{{ match.max_players }} players)
        {% else %}
          <strong>Match Type:</strong> {{ match.match_type }} (for {{ match.min_players }} players)
        {% endif %}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <strong>Featured in:</strong>
          {% for org in match.ORGs.all %}
            {% if forloop.last %}
              <a href="{{ org.get_absolute_url }}">{{ org.name }}</a>
            {% else %}
              <a href="{{ org.get_absolute_url }}">{{ org.name }}</a>, 
            {% endif %}
          {% endfor %}
      </td>
    </tr>
    {% if match.awards.all %}
      <tr>
        <td colspan="2">
          <strong>Awards:</strong>
            {% for award in match.awards.all %}
              {% if forloop.last %}
                <span>{{ award }}</span>
              {% else %}
                <span>{{ award }}</span>, 
              {% endif %}
            {% endfor %}
        </td>
      </tr>
    {% endif %}
    {% if match.see_also.all %}
      <tr>
        <td colspan="2">
          <strong>See Also:</strong>
            {% for match in match.see_also.all %}
              {% if forloop.last %}
                <a href="{{ match.get_absolute_url }}">{{ match.name }}</a>
              {% else %}
                <a href="{{ match.get_absolute_url }}">{{ match.name }}</a>, 
              {% endif %}
            {% endfor %}
        </td>
      </tr>
    {% endif %}
    
  </table>

  <div class="container mt-4 mx-auto">
    <ul class="nav nav-tabs" id="rulesTab" role="tablist">
      {% for title in titles %}
        {% if forloop.first %}
          <li class="nav-item" role="presentation">
            <button class="nav-link active tab-color" id="rules{{forloop.counter}}-tab" data-bs-toggle="tab" data-bs-target="#rules{{forloop.counter}}" type="button" role="tab" aria-controls="rules{{forloop.counter}}" aria-selected="true">{{title}}</a>
          </li>
        {% else %}
          <li class="nav-item" role="presentation">
            <button class="nav-link tab-color" id="rules{{forloop.counter}}-tab" data-bs-toggle="tab" data-bs-target="#rules{{forloop.counter}}" type="button" role="tab" aria-controls="rules{{forloop.counter}}" aria-selected="false">{{title}}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    <div class="tab-content" id="rulesTabContent">
      {% for rule_line_breaks in rulesets_line_breaks %}
        {% if forloop.first %}
          <div class="tab-pane fade show active" id="rules{{forloop.counter}}" role="tabpanel" aria-labelledby="rules{{forloop.counter}}-tab">
              {% for rule in rule_line_breaks %}
                {% if rule == '' %}
                  <br>
                {% elif '.discordapp.' in rule or '.imgur.' in rule %}
                  <div class="text-center"><img src={{ rule }}></div>
                {% else %}
                  <div class="pr-2">{{ rule|discordify|markdownify }}</div>
                {% endif %}
              {% endfor %}
          </div>
        {% else %}
          <div class="tab-pane fade" id="rules{{forloop.counter}}" role="tabpanel" aria-labelledby="rules{{forloop.counter}}-tab">
            {% for rule in rule_line_breaks %}
              {% if rule == '' %}
                <br>
              {% elif '.discordapp.' in rule or '.imgur.' in rule %}
                <div class="text-center"><img src={{ rule }}></div>
              {% else %}
                <div class="pr-2">{{ rule|discordify|markdownify }}</div>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>


  <hr>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Tags</h4>

    {% for tag in match.tags.all %}
	    <hr>
	    <p>
        <span class="tag">{{ tag.name }}</span>
        <span class="tag_hide">&nbsp;&nbsp;&nbsp;({{tag.description}})</span>
      </p>
    {% endfor %}
    <br>
  </div>


  
{% endblock %}
