{% extends "base.html" %}
{% load genius_extras %}
{% load static %}

{% block title %}
      <title>{{ org.name }} | The Genius Repository</title>
{% endblock %}

{% block embed %}
	<meta content="{{ org.name }}" property="og:title"/>
	<meta content="website" property="og:type"/>
	<meta content="The Genius Repository" name="og:site_name"/>
	<meta content="{{ org.description }}" property="og:description"/>
	<meta content="https://geniusrepository.org{{ org.get_absolute_url }}" property="og:url"/>
	<meta content="#ffcc00" name="theme-color"/>
	{% with filename=org|org_name %}
		<meta content="https://geniusrepository.org{% static 'images/icons/'|add:filename|add:'.png' %}" property="og:image"/>
	{% endwith %}
{% endblock %}

{% block content %}
  <h1 class="mt-3">
	{% with filename=org|org_name %}
		<img src="{% static 'images/icons/'|add:filename|add:'.png' %}" class="icon-xl"></img>
	{% endwith %}
	{{ org.name }}
	{% with filename=org|org_name %}
		<img src="{% static 'images/icons/'|add:filename|add:'.png' %}" class="icon-xl"></img>
	{% endwith %}
  </h1>
  <p><i>{{ org.description }}</i></p>
  <p class="mb-0"><strong>Twists:</strong></p>
  <p class="mt-0">
	{% for twist in twists %}
		{{ twist }}
		<br>
	{% endfor %}
  </p>

  <br>
  
  <h2 style="text-align: center;"> Games Featured: </h2>
  {% if match_exists %}
	<table class="sortable table table-secondary table-sm table-striped table-bordered table-hover">
		<thead class="table-dark">
			<tr>
				<th style="text-align: center; width: 4%;">Type</th>
				<th style="width: 30%;">Name</th>
				<th style="width: 28%;">Designer(s)</th>
				<th style="width: 16%;">ORGs</th>
				<th style="width: 3%;">#</th>
				<th style="width: 23%;">Tags</th>
			</tr>
		</thead>
		{% for match in match_list %}
		<tr>
			<td style="text-align: center;">
				{% if match.match_type == "MM" %}
					<strong style="color:#003399;">{{ match.match_type }}</strong>
				{% else %}
					<strong style="color:#990000;">{{ match.match_type }}</strong>
				{% endif %}
			</td>
			<td>
				<a href="{{ match.get_absolute_url }}">{{ match.name }}</a>
			</td>
			<td>
				{{ match.designers.all|join:", " }}
			</td>
			<td style="text-align: center;" sorttable_customkey="{{ match.ORGs.all|join:"_" }}">
				{% for ORG in match.ORGs.all %}
					{% with filename=ORG|org_name %}
						<a href="{{ ORG.get_absolute_url }}"><img src="{% static 'images/icons/'|add:filename|add:'.png' %}" class="icon" alt="{{ ORG }}" title="{{ ORG }}"></img></a>
					{% endwith %}
				{% endfor %}
			</td>
			<td style="text-align: center;">
				{{ match.min_players }}
			</td>
			<td style="font-size: 10px;">
				{% comment %} <image src="https://i.imgur.com/6JcNCRN.png" title="Strategy" alt="Strategy" width="10%" height="10%"></image> {% endcomment %}
				{{ match.tags.all|join:", "}}
			</td>
		</tr>
		{% endfor %}
	</table>

  {% else %}
	<p>None</p>
  {% endif %}
  
{% endblock %}
