{% extends "base.html" %}
{% load genius_extras %}
{% load static %}

{% block title %}
      <title>Tags | The Genius Repository</title>
{% endblock %}

{% block embed %}
	<meta content="Tags" property="og:title"/>
	<meta content="website" property="og:type"/>
	<meta content="The Genius Repository" name="og:site_name"/>
	<meta content="A list of all Genius ORG tags on The Genius Repository." property="og:description"/>
	<meta content="https://geniusrepository.org{% url 'tags' %}" property="og:url"/>
	<meta content="#ffcc00" name="theme-color"/>
{% endblock %}

{% block content %}
	<h1 class="mt-3">List of Game Tags</h1>
	{% if tag_list %}
	<table class="sortable table table-secondary table-sm table-striped table-bordered table-hover">
		<thead class="table-dark">
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Quantity</th>
			</tr>
		</thead>
	{% for tag in tag_list %}
		<tr>
			<td>
				{{ tag.name }}
			</td>
			<td>
				{{ tag.description }}
			</td>
			<td>
				{{ tag.match_set.all.count }}
			</td>
		</tr>
	{% endfor %}
	</table>

	{% else %}
		<p>Error! No tags found.</p>
	{% endif %}
{% endblock %}